.body{

  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*background: url("~assets/login-bg.jpg") no-repeat;*/
  /*background-size: cover;*/
  background: rgb(240, 242, 245);
}

.login-wrapper {
  padding: 24px;
  background: rgb(255, 255, 255);
  width: 520px;
  /*margin-left: 60%;*/
  margin: auto;
}

.title{
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: auto;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 64px;
  height: 64px;
}

.logo-text {
  font-size: 42px;
  margin-left: 12px;
  color: black;
}

.subtitle{
  margin-top: 6px;
  font-size: 24px;
}

.login-form {
  padding: 0 24px;
  margin: auto;
}

.login-form-margin {
  margin-bottom: 32px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-footer{
  background: rgb(240, 242, 245);
  text-align: center;
}
