<app-main-content>
  <app-content-header [title]="'LTE PM 数据分析'">
    <nz-upload
      [nzAction]="url"
      (nzChange)="handleChange($event)"
    >
      <button nz-button><i nz-icon nzType="upload"></i>导入数据</button>
    </nz-upload>
  </app-content-header>
  <app-content-body>

    <div nz-row>
      <form nz-form [nzLayout]="'inline'" [formGroup]="selectForm">
        <nz-form-item>
          <nz-form-control nzErrorTip="请选择查询日期！">
            <nz-date-picker formControlName="date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <button nz-button nzType="primary" type="button" (click)="search()" class="search-button">
            <i nz-icon nzType="search" nzTheme="outline"></i>
            查询
          </button>
          <button nz-button nzType="default" type="reset"><i nz-icon nzType="rest" nzTheme="outline"></i>重置</button>
        </nz-form-item>
      </form>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col nzSpan="8">
        <div echarts [options]="accessOption"></div>
      </div>
      <div nz-col nzSpan="8">
        <div echarts [options]="keepOption"></div>
      </div>
      <div nz-col nzSpan="8">
        <div echarts [options]="moveOption"></div>
      </div>
    </div>

    <nz-table #basicTable [nzData]="dataList">
      <thead>
      <tr>
        <th>序号</th>
        <th>区域</th>
        <th>接入性</th>
        <th>保持性</th>
        <th>移动性</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.id}}</td>
        <td>{{data.area}}</td>
        <td>
          <nz-badge *ngIf="data.access === '优'" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="data.access === '差'" nzStatus="error"></nz-badge>
          {{data.access}}
        </td>
        <td>
          <nz-badge *ngIf="data.access === '优'" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="data.access === '差'" nzStatus="error"></nz-badge>
          {{data.keep}}
        </td>
        <td>
          <nz-badge *ngIf="data.access === '优'" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="data.access === '差'" nzStatus="error"></nz-badge>
          {{data.move}}
        </td>
      </tr>
      </tbody>
    </nz-table>

  </app-content-body>
</app-main-content>
